<div class="content">
  <h1 class="bad-script mat-display-1 title" i18n>
    {{ "shower.title" | translate }}
  </h1>

  <div class="new-plan">
    <h1>{{ "shower.intro" | translate }}</h1>
    <h2>
      {{ "shower.caution" | translate }}
    </h2>
    <p>
      {{ "shower.drivethru" | translate }}
    </p>
  </div>

  <img src="assets/love-car.svg" />

  <h2>
    8156 Tapper Ave. Munster, IN 46321<br />
    {{ showerDate | localizedDate: "fullDate" }}<br />
    {{ showerDate | date: "shortTime" }} -
    {{ showerEndDate | date: "shortTime" }}
  </h2>
</div>
