:host {
  text-align: center;
}

.intro {
  margin: 64px auto;
  max-width: 380px;
  width: 100%;
}

mat-grid-tile {
  cursor: pointer;
}

.hidden-placeholder {
  display: none;
}

img {
  width: 100%;
}
