<h3 class="intro" i18n>
  {{ "registry.intro" | translate }}
</h3>

<mat-grid-list cols="4" gutterSize="24">
  <mat-grid-tile matRipple colspan="2" (click)="openReg('bbb')"
    ><img src="assets/bbb.png"
  /></mat-grid-tile>
  <mat-grid-tile matRipple colspan="2" (click)="openReg('target')"
    ><img src="assets/target.png"
  /></mat-grid-tile>
  <mat-grid-tile colspan="1" class="hidden-placeholder"></mat-grid-tile>
  <mat-grid-tile matRipple colspan="2" (click)="openReg('amazon')"
    ><img src="assets/amazon.png"
  /></mat-grid-tile>
</mat-grid-list>
