@import "helpers";

:host {
  text-align: center;
}

.intro {
  margin: 64px auto;
  max-width: 380px;
  width: 100%;
}

.registry-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  width: 50%;
  max-height: 150px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

:host-context(mat-sidenav-content) a {
  width: 100%;
  margin: 10px 0;
  background-color: $white-opacity-87;
  border-radius: 10px;
}
