<h3 class="intro" i18n>
  {{ "registry.intro" | translate }}
</h3>

<div class="registry-list">
  <a
    matRipple
    href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/548891361"
    target="_blank"
  >
    <img src="assets/bbb.png" />
  </a>
  <a
    matRipple
    href="https://www.target.com/gift-registry/giftgiver?registryId=223f55674cdf4c0283a9ad618374d6f1&type=WEDDING"
    target="_blank"
  >
    <img src="assets/target.png" />
  </a>
  <a
    matRipple
    href="https://www.amazon.com/wedding/registry/3MHKXTTPWBSE9"
    target="_blank"
  >
    <img src="assets/amazon.png" />
  </a>
</div>
