@import "helpers";

:host {
  display: block;
}

.roses {
  display: block;
  position: fixed;

  &.upper-left {
    top: 0;
    left: -95px;
    @include rotate(90deg);
  }

  &.lower-right {
    right: -95px;
    bottom: 0;
    @include rotate(-90deg);
  }

  @media only screen and (max-width: 1399px) {
    display: none;
  }
}

.background {
  display: flex;
  min-height: 100%;
  background-color: $primary;

  .page {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0 64px;
    background-color: whitesmoke;
    z-index: 10;

    .lang-menu {
      align-self: flex-end;
      margin-right: 24px;
    }

    header {
      // padding-top: 64px;
      text-align: center;

      div.mat-display-2 {
        margin-bottom: 32px;
      }
    }

    .content {
      flex-grow: 1;
      padding: 0 48px;
    }
  }
}
