<img class="roses upper-left" src="assets/redroses.png" />
<img class="roses lower-right" src="assets/redroses.png" />
<div class="background">
  <div class="page">
    <header>
      <div class="mat-display-2">Damaso & Vanessa</div>
    </header>
    <div class="content">
      <mat-tab-group mat-stretch-tabs dynamicHeight color="accent">
        <mat-tab label="Welcome"
          ><app-welcome
            [weddingDate]="weddingDate"
            [countdown]="countdown$ | async"
          ></app-welcome
        ></mat-tab>
        <mat-tab label="Shower"
          ><app-shower [showerDate]="showerDate"></app-shower
        ></mat-tab>
        <mat-tab label="Registry"><app-registry></app-registry></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
