<div class="content">
  <h1 class="mat-display-1 title" i18n>We are getting married!</h1>
  <h1 class="wedding-date">{{ weddingDate | date: "fullDate" }}</h1>

  <img src="assets/welcome.jpg" />

  <h3 class="welcome" i18n>
    Welcome and thank you for visiting our wedding website! Here you will find
    all the information about our special day and any events leading up to it.
  </h3>

  <mat-divider></mat-divider>

  <h2 class="countdown" i18n>
    {{ countdown.days }} Days {{ countdown.hours }} Hours
    {{ countdown.mins }} Minutes {{ countdown.secs }} Seconds
    {{ countdown.suffix }}
  </h2>
</div>
