<div class="content">
  <div class="subheader">
    <app-rings-graphic class="rings"></app-rings-graphic>
    <div class="text">
      <h1 class="bad-script mat-display-1 title" i18n>
        {{ "welcome.title" | translate }}
      </h1>
      <h1 class="wedding-date">
        {{ weddingDate | localizedDate: "fullDate" }}
      </h1>
    </div>
  </div>

  <div class="proposal">
    <img src="assets/welcome.jpg" />
  </div>

  <h3 class="welcome" i18n>
    {{ "welcome.body" | translate }}
  </h3>

  <mat-divider></mat-divider>

  <h2 *ngIf="countdown$ | async; let countdown" class="countdown" i18n>
    {{ countdown.days }} {{ "welcome.days" | translate }} {{ countdown.hours }}
    {{ "welcome.hours" | translate }} {{ countdown.mins }}
    {{ "welcome.mins" | translate }} {{ countdown.secs }}
    {{ "welcome.secs" | translate }}
    {{ "welcome." + countdown.suffix | translate }}
  </h2>
</div>
