$navy: (
  50: #eaeffe,
  100: #cdd9eb,
  200: #b3bfd5,
  300: #96a5bf,
  400: #8091ae,
  500: #6b7e9d,
  600: #5c6f8c,
  700: #4c5b74,
  800: #3c495e,
  900: #293446,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$wine: (
  50: #ffebed,
  100: #ffccd0,
  200: #ef9897,
  300: #e4716f,
  400: #ee504b,
  500: #f23f30,
  600: #e3352f,
  700: #d12b29,
  800: #c52322,
  900: #b61616,
  A100: #ffccd0,
  A200: #ef9897,
  A400: #ee504b,
  A700: #d12b29,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
